<div class="container">
   <img src= "/Assets/images/Roshna.jpg" alt=" " width="180" height="200" ></img>
   <p style="color:rgb(0, 0, 0)" class=" display-4 "> Roshna Rose Raju </p>
   <div class="jumbotron">
   <p style="color:hsla(0, 0%, 0%, 0.966)"class="display-6"> I am Preethi Kumarasamy pursuing my secondary post graduate in Centennial college. I enrolled in Software Engineering Technology(Fast-Track) where I am learning courses like Web Application Development, Mobile Application Technology ,Data Structures etc., where i can able to gain knowledge towards real world projects. </p>
   <p><a href="/Assets/images/PREETHI RESUME 2020.pdf" download> click here to download resume</a></p> 
</div>