<div class="container">
   <img src= "/Assets/images/Roshna.jpg" alt=" " width="180" height="200" ></img>
   <p style="color:#000000" class=" display-4 "> Roshna Rose Raju </p>
   <p style="color:#000000"class="display-6"> I am Roshna Rose Raju pursuing Advanced Diploma in Centennial college. I am enrolled in Software Engineering Technology(Fast-Track) program. I am a software professional having experience of 4 years in software industry.</p>
   <p><a href="/Assets/RESUME - ROSHNA.pdf" download> click here to download my resume</a></p> 
</div>