<div class="container">
   <img src= "/Assets/images/Roshna.jpg" alt=" " width="180" height="200" ></img>
   <p style="color:rgb(0, 0, 0)" class=" display-4 "> Roshna Rose Raju </p>
   <h2 style="color:hsla(0, 0%, 0%, 0.966)"class="display-6"> I am Roshna Rose Raju pursuing Advanced Diploma in Centennial college. I am enrolled in Software Engineering Technology(Fast-Track) program. I am a software professional having experience of 4 years in software industry.</h2>
   <p><a href="/Assets/images/PREETHI RESUME 2020.pdf" download> click here to download resume</a></p> 
</div>