    <div class="container">
      <h1> Contact Details </h1>
      <p> <i class="fas fa-female"></i> Name : Roshna Rose Raju</p>
      <p> <i class="fas fa-map-marker-alt"></i> Location : Ajax, Toronto </p>
      <p><i class="fas fa-phone"></i> Phone : +1-416-414-6967</p>
      <i class="fad fa-inbox-in"></i> Email : preethikumarasamy@gmail.com</p>
      <h3> Enter Details  (allows only one email address):</h3>
      <form action="/action_page.php">
      <label for="email">Enter your email:</label>
      <input type="email" id="email" name="email"><br>
      <label for="First Name">Enter your First Name:</label>
      <input type="FirstName" id="Firstname" name="Firstname"><br>
      <label for="Last Name">Enter your Last Name:</label>
      <input type="LastName" id="Lastname" name="Lastname"><br>
      <label for="Contact Number">Enter your Contact number:</label>
      <input type="Contact number" id="Contact number" name="Contact number"><br>
      <label for="Message">Enter your Last Name:</label>
      <input type="Message" id="Message" name="Message"><br>
      </form>
      <a class="nav-link " href="/home"></i> Submit! </a> 
     </div>