<div class="container">
    <p style="color:#0d0e0c"class="display-4"> Hello...!!!</p>
      <p style="color:#000000d5" class="display-5"> Welcome to my Portfolio</p>
      <a class="nav-link " href="/about"><i class="fas fa-laptop-house"></i>About Me</a>
      <a class="nav-link " href="/Projects"><i class="fab fa-product-hunt"></i>Projects</a>
      <a class="nav-link " href="/services"><i class="fas fa-laptop-code"></i> Services Offered</a>
      <a class="nav-link " href="/contact"><i class="fas fa-mobile-alt"></i>Contact Me</a>
</div>