<body style="background-image: url('/Assets/images/backgroundimage.png'); opacity: 0.75;" width="100%">
<div class="container">
<div class="row">
  <div class="column">
   <img src= "/Assets/images/xelerate.png" alt=" " width="200" height="150" ></img>
   </div>
   <div class="column">
      <p style="color:#FFFFFF"> To create an android application which can produce a digital signature of the issuing bank. Using this signature the account holder will be able to verify that the given cheque is indeed sent by his bank. E-cheque is traceable and by using E-cheque instead of E-money it is possible to increase payment security. </p>
    </div>
</div>
<div class="container">
   <div class="row">
  <div class="column">
      <img src= "/Assets/images/Hospital.png" alt=" " width="250" height="200" ></img>
    </div>
    <div class="column">
      <p style="color:#0a0a0a96" class=" display-5 "> I have created online learning portal as a Mini-Project during my last semester in database management system. As it is completely online, we can learn anywhere & anytime. The portal is transparent where the use can able to see their payment status, date and time of the class. It also provides recorded sessions if anyone missed to attend the class. In the future, i am planning to implement further with the innovative ideas.</p>
    </div>
    </div>

    <div class="container">
      <img src= "/Assets/images/Basic Calculator.png" alt=" " width="200" height="200" ></img>
      <p style="color:#07070796" class=" display-5 "> I have done a basic Calculator application during my undergraduate. It helped me alot to know about mobile application Development and now i am working on it to know more about it.</p>
</div>