<body style="background-image: url('/Assets/images/backgroundimage.png'); opacity: 0.75;" width="100%">
   <div class="row">
      <div class="col-sm-6">
         <div style="background-color:rgba(252, 244, 248, 0.952);" class="card">
            <div class="card-body">
               <h5 class="card-title">Web Application Programming</h5>
               <img src="/Assets/images/WEb Application Development.jpg" alt=" " width="200" height="200"></img>
            </div>
         </div>
      </div>
      <div class="col-sm-6">
         <div class="card">
            <div class="card-body">
               <h5 class="card-title">Java Programming</h5>
               <img src="/Assets/images/Java.jpg" alt=" " width="200" height="200"></img>
            </div>
         </div>
      </div>
   </div>
   <br>
   <br>
   <div class="row">
      <div class="col-sm-6">
         <div class="card">
            <div class="card-body">
               <h5 class="card-title">Database</h5>
               <img src="/Assets/images/Database.jpg" alt=" " width="200" height="200"></img>
            </div>
         </div>
      </div>
      <div class="col-sm-6">
         <div class="card">
            <div class="card-body">
               <h5 class="card-title">Mobile App</h5>
               <img src="/Assets/images/Mobile-_App_-Development.jpg" alt=" " width="200" height="200"></img>
            </div>
         </div>
      </div>
   </div>