<body style="background-image: url('/Assets/images/backgroundimage.png'); opacity: 0.75;" width="100%">
<div class="container">
   <div class="row">
      <div class="col-sm-6">
        <div style="background-color:rgba(252, 244, 248, 0.952);"class="card">
          <div class="card-body">
         <img src= "/Assets/images/xelerate.png" alt=" " width="200" height="150" ></img>
      </div>
      <div class="column">
         <p style="color:#FFFFFF"> Xelerate is a cloud-native and micro-services-based platform that helps organizations own the customer experience by setting up a system-of-engagement with enhanced product management capabilities, enterprise pricing, revenue management and partner ecosystem management. </p>
      </div>
      <div class="column">
         <img src= "/Assets/images/Hospital.png" alt=" " width="200" height="200" ></img>
      </div>
      <div class="column">
         <p style="color:#FFFFFF"> MEDITRACK will provide information on the hospital staff such as doctors, nurses, receptionists and clerks, supplies such as lab equipment, patients, the type of treatments, and the inventories that are required each day in a hospital. The system will enable the users to connect, organize and manage the data to provide timely information to all the stakeholders at a low cost.</p>
       </div>
   </div>
</div>
<div class="container">
   <div class="row">
      <div class="column">
         <img src= "/Assets/images/insurance.jpg" alt=" " width="200" height="200" ></img>
      </div>
      <div class="column">
         <p style="color:#FFFFFF" > Insurance Calculator helps to calculate and understand the insurance schemes, interest rates and the premium in the most easiest way.</p>
       </div>
    </div>
</div>