    <div class="row">
      <div class="col-sm-6">
        <div style="background-color:rgba(252, 244, 248, 0.952);"class="card">
          <div class="card-body">
            <h5 class="card-title">Java Programming</h5>
            <img src= "/Assets/images/java.png" alt=" " width="200" height="200" ></img>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Web Application Programming</h5>
            <img src= "/Assets/images/web.jpg" alt=" " width="200" height="200" ></img>
          </div>
        </div>
      </div>
    </div>
    <br>
    <br>
    <div class="row">
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Database Development</h5>
            <img src= "/Assets/images/database.png" alt=" " width="200" height="200" ></img>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Mobile App Development</h5>
            <img src= "/Assets/images/android.png" alt=" " width="200" height="200" ></img>
          </div>
        </div>
      </div>
    </div>
     <br>
    <br>
    <div class="row">
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">C# Programming</h5>
            <img src= "/Assets/images/csharp.png" alt=" " width="200" height="200" ></img>
          </div>
        </div>
      </div>
    </div>